---
Checks: >
  -*,
  modernize-*+,
  performance-*+, 
  readability-*+, 
  clang-analyzer-*+, 
  hicpp-*+, 
  bugprone-*+, 
  cppcoreguidelines-*+
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/core/jit/.*'
FormatStyle: file
---
